<style>
    .menu{
        display: flex;
        width: 100%;
        overflow: scroll;
        gap: 10px;
    }
</style>
<div class="menu">
   <a  href="/student/student_home/{{current_batch.id}}" class="btn btn-primary my-1 home">Home</a>
   <a  href="/student/notice/{{current_batch.id}}" class="btn btn-primary my-1 notice">Notice</a>
   <a  href="" class="btn btn-primary my-1 exam">Exam</a>
   <a  href="" class="btn btn-primary my-1 teachers">Teachers</a>
   <a  href="/student/videos/{{current_batch.id}}" class="btn btn-primary my-1 videos">Videos</a>
   <a  href="" class="btn btn-primary my-1 fee">Fee</a>
   <a  href="/student/student_profile/{{current_batch.id}}" class="btn btn-primary my-1 fee">Profile</a>
   <a  href="/logout/" class="btn btn-danger my-1 fee">Logout</a>
   <script>
    if('{{request.path}}' == '/student/student_home/{{current_batch.id}}'){
        document.querySelector('.home').classList.add('btn-warning');
    }
    if('{{request.path}}' == '/student/notice/{{current_batch.id}}'){
        document.querySelector('.notice').classList.add('btn-warning');
    }
    if('{{request.path}}' == '/student/exam/{{current_batch.id}}'){
        document.querySelector('.exam').classList.add('btn-warning');
    }
    if('{{request.path}}' == '/student/teachers/{{current_batch.id}}'){
        document.querySelector('.teachers').classList.add('btn-warning');
    }
    if('{{request.path}}' == '/student/fee/{{current_batch.id}}'){
        document.querySelector('.fee').classList.add('btn-warning');
    }
    if('{{request.path}}' == '/videos/fee/{{current_batch.id}}'){
        document.querySelector('.videos').classList.add('btn-warning');
    }
   </script>
</div>