  <h6 class="exam_heading">Annual Exam Mark List</h6>

  <table>
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Maximum Marks</th>
        <th>Marks Obtained</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>English</td>
        <td>50</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Hindi</td>
        <td>50</td>
        <td>39</td>
      </tr>
      <tr>
        <td>Marathi</td>
        <td>50</td>
        <td>36</td>
      </tr>
      <tr>
        <td>Maths</td>
        <td>50</td>
        <td>46</td>
      </tr>
      <tr>
        <td>Science</td>
        <td>50</td>
        <td>31</td>
      </tr>
      <tr>
        <td>History</td>
        <td>25</td>
        <td>21</td>
      </tr>
      <tr>
        <td>Geography</td>
        <td>25</td>
        <td>18</td>
      </tr>
      <tr>
        <td>Computer</td>
        <td>20</td>
        <td>17</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="1">Total</td>
        <td>320</td>
        <td>239</td>
      </tr>
    </tfoot>
  </table>