
  <h6 class="exam_heading">Unit 1 Mark List</h6>

  <table>
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Maximum Marks</th>
        <th>Marks Obtained</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>English</td>
        <td>40</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Hindi</td>
        <td>40</td>
        <td>34</td>
      </tr>
      <tr>
        <td>Marathi</td>
        <td>40</td>
        <td>32</td>
      </tr>
      <tr>
        <td>Maths</td>
        <td>40</td>
        <td>38</td>
      </tr>
      <tr>
        <td>Science</td>
        <td>40</td>
        <td>29</td>
      </tr>
      <tr>
        <td>History</td>
        <td>20</td>
        <td>17</td>
      </tr>
      <tr>
        <td>Geography</td>
        <td>20</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Computer</td>
        <td>20</td>
        <td>19</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="1">Total</td>
        <td>260</td>
        <td>215</td>
      </tr>
    </tfoot>
  </table>

