{% load static %}
<style>
        footer{
            background-color: #222;
        }
        .footerContainer{
            width: 100%;
            padding: 70px 30px 20px;
        }
        .social_Icons{
            display: flex;
            justify-content: center;

        }
        .social_Icons a{
            text-decoration: none;
            padding: 0px 5px 0px 5px;
            background-color: white;
            margin: 10px;
            border-radius: 50%;
        }
        .social_Icons a i{
            font-size: 1em;
            color: black;
            opacity: 0.9;
        }
        .social_Icons a:hover{
            background-color: #111;
            transition: 0.5s;
        }
        .social_Icons a:hover i{
            color: white;
            transition: 0.6s;
        }
        .footerNav{
            margin: 30px 0;
        }
        .footerNav ul{
            display: flex;
            justify-content: center;
        }
        .footerNav ul li a{
            color: white;
            margin: 20px;
            text-decoration: none;
            font-size: 1rem;
            opacity: 0.7;
            transition: 0.5s;
        }
        .footerNav ul li a:hover{
            opacity: 1;
        }
        .footerBottom{
            background-color: #000;
            padding: 20px;
            text-align: center;
        }
        .footerBottom p{
            color: white;
            font-size: 0.8rem;
        }
        .designer{
            opacity: 0.7;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            margin: 0 5px;
        }
        @media (max-width: 600px){
            .footerNav ul{
                flex-direction: column;
            }
            .footerNav ul li{
                width: 100%;
                text-align: center;
                margin: 10px 0;
            }
        }
    </style>
    
    <footer>
        <div class="footerContainer">
            <div class="social_Icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
                <a href="https://www.youtube.com/@NavBharatkarmala/videos"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li><a href="/#home">Home</a></li>
                    <li><a href="/#about_us">About</a></li>
                    <li><a href="/#contact_us">Contact Us</a></li>
                    <li><a href="/#about_teachers">Our Teachers</a></li>
                </ul>
                {% if visitor %}
                <ul style="margin-bottom: -20px;color: white;">
                    <li >Total Visitors {{visitor}}+</li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="footerBottom">
            <p>CopyRgiht &copy; 2025 | NavBharat English Medium School Karmala ;</p>
            <p style="margin-top: -5px;margin-bottom: -15px;">Designed & Developed by <span class="designer">PRASANNA DIGITAL</span></p>
        </div>
    </footer>
