<style>
    #enquiry_modal{
        margin-top: 50px;
    }
</style>
<div class="container text-center">
    <h5>School Admissions Now Open 2025 - 2026</h5>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#enquiry_modal">
        Enquiry
    </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="enquiry_modal" tabindex="+1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Admission Process</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>