{% load static %}
<style>
/* NavBar Start */
    .navbar{
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255) !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: +645456132496;
    }
/* NavBar End */
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="{% static 'img/logo.jpg' %}" width="40px" style="border-radius: 50%;" alt="">
      <a class="navbar-brand" style="font-weight: 700;" href="/#home"> &nbsp; NavBharat</a>
      <div></div>
    </div>
  </nav>



<style>
  .menu{
      display: flex;
      width: 100%;
      overflow: scroll;
      gap: 10px;
  }
</style>
<div class="menu">
  <a  href="/school_admin/admin_home/" class="my-1 {% if request.path == '/admin/admin_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
  <a  href="/school_admin/todayes_attendence/" class="my-1 {% if request.path == '/admin/todayes_attendence/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Attendence</a>
  <a  href="" class="my-1 {% if request.path == '' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Notice</a>
  <a  href="" class="my-1 {% if request.path == '' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Exam</a>
  <a  href="" class="my-1 {% if request.path == '' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Fees</a>
  <a  href="/logout/" class="my-1 btn btn-danger">LogOut</a>

</div>