<style>
    .menu{
        display: flex;
        width: 100%;
        overflow: scroll;
        gap: 10px;
    }
    .notice_btn{
        background-color: #FFC107 !important;
        color: white !important;
        outline: none;
        border-color: #FFC107 ;
        color: black !important;
    }
  </style>
  <div class="menu">
    <a  href="/school_admin/admin_received_notice/" class="my-1 {% if request.path == '/school_admin/admin_received_notice/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Received</a>
    <a  href="/school_admin/admin_school_notice/" class="my-1 {% if request.path == '/school_admin/admin_school_notice/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">To All School P</a>
    <a  href="/school_admin/admin_class_notice/" class="my-1 {% if request.path == '/school_admin/admin_class_notice/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">To Class P</a>
    <a  href="/school_admin/admin_student_notice/" class="my-1 {% if request.path == '/school_admin/admin_student_notice/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">To Parent</a>
    <a  href="/school_admin/admin_teacher_notice/" class="my-1 {% if request.path == '/school_admin/admin_teacher_notice/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">To Teacher</a>
   
  </div>