{% extends 'base.html' %}
{% block head %}

{% endblock head %}
{% block content %}
{% load static %}
{% include 'alert.html' %}
{% include 'student/student_navbar.html' %}
{% load static %}
<div class="text-center">
    <select class="form-select" onchange="location.href = '/student/student_home/'+ this.value" style="width: 350px; margin: 0 auto; margin-top: 10px;" aria-label="Default select example">
        {% for b in batches %}
        <option {% if b.id == current_batch.id %} selected {% endif %} value="{{b.id}}">{{b.name}}</option>
        {% endfor %}
    </select>
</div>
{% include 'student/student_menu.html' %}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% include 'home/index_footer.html' %}
{% endblock content %}