{% extends 'base.html' %}
{% block head %}

{% endblock head %}
{% block content %}
{% load static %}
{% include 'include/alert.html' %}
{% include 'include/student/student_navbar.html' %}
{% load static %}
<div class="text-center">
    <select class="form-select" onchange="location.href = '/student/student_home/'+ this.value" style="width: 350px; margin: 0 auto; margin-top: 10px;" aria-label="Default select example">
        {% for b in batches %}
        <option {% if b.id == current_batch.id %} selected {% endif %} value="{{b.id}}">{{b.name}}</option>
        {% endfor %}
    </select>
</div>
{% include 'include/student/student_menu.html' %}



<style>
    .welcome_box {
        width: 350px;
        height: 180px;
        background-color: #e7e7e7;
        padding: 20px;
        padding-bottom: 0;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 30px;
        position: relative;
        img{
            width: 100%;
            height: fit-content;
            margin-bottom: 20px;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border-radius: 5px;
        }
        .welcome{
            top: 10px;
            position: absolute;
        }
    }
</style>

<div class="welcome_box">
    <div><img src="{% static 'img/student.png' %}" alt=""></div>
    <div>
        <h6 class="text-center welcome">Welcome</h6>
        <h6 class="mb-2"><h7 style="font-size: 14px;">Parent Name:</h7> <br> Sunil Popat Kale</h6>
        <h6><h7 style="font-size: 14px;">Student Name:</h7> <br> Prasanna Sunil Kale</h6>
        <h6>Class : 8th</h6>
    </div>
</div>

<br>
<style>
    .exam_heading{
      text-align: center;
      color: #333;
      margin-top: 20px;
      margin-bottom: -20px;
    }

    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    th, td {
      padding: 12px 20px;
      text-align: center;
      border-bottom: 1px solid #ccc;
    }

    th {
      background-color: #007BFF;
      color: white;
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    tfoot td {
      font-weight: bold;
      background-color: #f9f9f9;
    }
  </style>
<!-- Calender -->
{% include 'include/student/calendar.html' %}
<!-- Calender End -->

<!-- unit_first -->
{% include 'include/student/unit_first.html' %}
<!-- unit_first end -->

<!-- semester_first -->
{% include 'include/student/semester_first.html' %}
<!-- semester_first end -->

<!-- unit_second -->
 {% include 'include/student/unit_second.html' %}
 <!-- unit_second end -->
 
 <!-- annual_exam -->
 {% include 'include/student/annual_exam.html' %}
 <!-- annual_exam -->
<br>
{% include 'include/home/index_footer.html' %}
{% endblock content %}