{% load static %}
<style>
/* NavBar Start */
    .navbar{
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255) !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: +645456132496;
        display: flex !important;
    }
/* NavBar End */
</style>
<style>
    .side_btn{
        transform: rotate(90deg);
        background-color: rgba(240, 248, 255, 0);
        border: none;
        font-size: 25px;
        width: fit-content;
    }
    .href_btn{
      background-color: #343a40;
      border-radius: 10px;
      color: white !important;

    }
    .href_btn:hover{
        background-color: #0080ff;
        border-radius: 10px;
        color: white !important;
    }
    .at_page{
      background-color: #0080ff;
      border-radius: 10px;
      color: white !important;
      }
  </style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
        <button class="btn side_btn form-control" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">|||</button>
        <img src="{% static 'img/logo.jpg' %}" width="40px" style="border-radius: 50%;" alt="">
      <a class="navbar-brand" style="font-weight: 700;" href="/#home"> &nbsp; NavBharat</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {{clerk.batch.name}}
      </div>
    </div>
  </nav>



  <div class="offcanvas offcanvas-start" style="width: 20%; z-index: +654654654645;" data-bs-scroll="true" tabindex="+1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        <img src="{% static 'img/logo.jpg' %}" width="40px" style="border-radius: 50%;" alt="">
      <a class="navbar-brand" style="font-weight: 700;" href="/#home"> &nbsp; NavBharat</a>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {{clerk.batch.name}}

      <div><i class="fa-solid fa-house"></i> &nbsp; <a href="/school/school_home/" class="btn {% if request.path == '/school/school_home/' %} at_page {% endif %}">Home</a></div>

      <div>
        <i class="fa-solid fa-user"></i> &nbsp;
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#teacher" aria-expanded="false" aria-controls="collapseExample">
              Teacher
            </button>

            <div class="collapse" id="teacher" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <a href="/school/add_teacher/" class="btn href_btn {% if request.path == '/school/add_teacher/' %} at_page {% endif %}">Add Teacher</a>
                <a href="/school/add_teacher/" class="btn href_btn mt-2 {% if request.path == '/school/add_teacher/' %} at_page {% endif %}">Select Teacher Class</a>
              </div>
            </div>
      </div>

      <div>
        <i class="fa-solid fa-user-tie"></i> &nbsp;
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#student" aria-expanded="false" aria-controls="collapseExample">
              Student
            </button>

            <div class="collapse" id="student" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <a href="/school/add_student/" class="btn href_btn {% if request.path == '/school/add_student/' %} at_page {% endif %}">Add & View Student</a>
                <a href="/school/student_image/" class="btn href_btn {% if request.path == '/school/student_image/' %} at_page {% endif %} mt-2">Student Image</a>
              </div>
            </div>
      </div>

      <div>
        <i class="fa-solid fa-school"></i> &nbsp;
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#class" aria-expanded="false" aria-controls="collapseExample">
              Class
            </button>

            <div class="collapse" id="class" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <a href="/school/add_class/" class="btn href_btn {% if request.path == '/school/add_class/' %} at_page {% endif %}">Add Class</a>
                <a href="/school/select_student_class/" class="btn href_btn mt-2 {% if request.path == '/school/select_student_class/' %} at_page {% endif %}">Select Student Class</a>
                <a href="/school/select_class_teacher/" class="btn href_btn mt-2 {% if request.path == '/school/select_class_teacher/' %} at_page {% endif %}">Select Class Teacher</a>
              </div>
            </div>
      </div>
      
      
      <div>
        <i class="fa-solid fa-book"></i> &nbsp;
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#subject" aria-expanded="false" aria-controls="collapseExample">
              Subject
            </button>

            <div class="collapse" id="subject" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <a href="/school/add_subject/" class="btn href_btn {% if request.path == '/school/add_subject/' %} at_page {% endif %}">Add Subject</a>
                <a href="/school/select_subject_class_and_teacher/" class="mt-2 btn href_btn {% if request.path == '/school/select_subject_class_and_teacher/' %} at_page {% endif %}">Select Subject Class &Teacher</a>
              </div>
            </div>
      </div>
      <div>
        <i class="fa-solid fa-bullhorn"></i> &nbsp;
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#notice" aria-expanded="false" aria-controls="collapseExample">
              Notice
            </button>

            <div class="collapse" id="notice" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <!-- <a href="/school/add_subject/" class="btn href_btn {% if request.path == '/school/add_subject/' %} at_page {% endif %}">Add Subject</a> -->
                <!-- <a href="/school/select_subject_class_and_teacher/" class="mt-2 btn href_btn {% if request.path == '/school/select_subject_class_and_teacher/' %} at_page {% endif %}">Select Subject Class &Teacher</a> -->
              </div>
            </div>
      </div>
    </div>
  </div>